<!DOCTYPE html>
  <html>
   <head>
    
       <meta charset=UTF-8>
       <meta name="Autor" content="">
       <meta name="Description" contect="software de gestion clinica">
       <meta name="Keywords" contect="gestion hospitalaria, auditoria medica, ips , eps, recobros, consultorios">
    <title >salud</title>
       <link href="imagenes/xsola.ico"  type="image/x-icon" rel="shortcut icon"  />

       
       
   </head>
   <!--encabezado -->    
  
     <header> <div class="ingreso">
             <input placeholder="Usuario" class="" type="mail" name="name"/>              
             <input placeholder="Contraseña" class="" type="password" named"password"/>
              </div>  
     </header>  

     <body>
 
       
  <div class="cont" id="unos"> 
        
 <div class="menu" id=""><a href="http://localhost:3000/calendars">
 <%= image_tag '1467509018_Icon_Business_Set_00002_A.png', class: "icono_admision" %><p class="menus">Agenda</p></a></div>
 <div class="menu" id=""><a href="http://localhost:3000/stories">
 <%= image_tag '1467510992_medical_icon_4.png', class: "icono_admision" %><p class="menus">Historia Clinica</p> </a></div>
 <div class="menu" id=""><a href="http://localhost:3000/reports">
 <%= image_tag '1467508472_vector_65_14.png', class: "icono_admision" %><p class="menus">Reportes</p> </a></div>
 <div class="menu" id=""><a href="">
 <%= image_tag '1468874758_gnome-system-config.png', class: "icono_admision" %><p class="menus">Configuracion</p> </a></div>

</div>


        
    </body>
</div>
       
         


            

